---
---
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BlaboSoft - Cloud application development</title>

    <meta property="og:title" content="BlaboSoft - Cloud application development" />
    <meta property="og:url" content="https://blabosoft.com" />
    <meta property="og:image" content="https://blabosoft.com/assets/images/og_logo.jpg" />
    <meta property="og:image:width" content="232" />
    <meta property="og:image:height" content="232" />
    <meta property="og:description"
        content="Developing scalable web applications for the cloud with handling massive amount of data." />

    <meta name="description"
        content="Developing scalable web applications for the cloud with handling massive amount of data." />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <link href="assets/css/site.css?v={{site.time | date: "%Y%m%d_%H%M%S"}}" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>

<body>
    <div class="container">
        <div id="brand">
            <img id="logo" src="assets/images/logo5.png" /><span id="company">BlaboSoft</span>
        </div>
    </div>
    <main>

        <section id="services">
            <div class="container">
                <div class="row">
                    {% for item in site.services %}
                    <div class="col-md-6">
                        <div class="item">
                            <div class="row header">
                                <div class="col-auto"><i class="{{item.icon}} align-middle"
                                        style="color:{{item.icon_color}};"></i></div>
                                <div class="col-9">
                                    <h2 class="title">
                                        {{item.title}}
                                    </h2>
                                </div>
                            </div>
                            <div class="description">
                                {{item.content}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <hr />
        {% include references.html %}
        <hr />
        {% include stack.html %}

    </main>
    <footer id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-5">
                    <div class="info column">
                        <div class="item">
                            <span class="key"><i class="fa fa-envelope"></i> <span class="text"></span> </span>
                            <span class="value"><a href="mailto:hello@blabosoft.com"
                                    target="_blank">hello@blabosoft.com</a> </span>
                        </div>
                        <div class="item">
                            <span class="key"><i class="fa fa-phone"></i> <span class="text">Phone:</span> </span>
                            <span class="value">+36304685672</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-7">
                    <div class="asking column">
                        Feel free to contact us. We would be glad to provide advices in strategic, architectural or
                        technical topics.<br /> <strong>Let's talk about innovation ;)</strong>
                    </div>

                </div>
            </div>
        </div>
    </footer>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119238032-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119238032-1');
    </script>
</body>

</html>