html {
    background-color: #020a13;
}

#logo {
    max-height: 3.8rem;
    border-radius: 40%;
    border: 1px solid #fff;
    margin: 0 1.2rem 1.2rem 0;
}

#company {
    font-size: 2.9rem;
    font-weight: bold;
}

#brand {
    padding: 2rem 0 2rem 0;
    text-align: center;
}

/* ------------------------- */

#services .item h2 {
    font-size: 1.8rem;
    font-family: monospace, 'Courier New', Courier, 'Comic Sans MS';
}

#services .item {
    margin: 1.3rem 0 1.4rem;
}

#services .item .header i {
    padding: 8px 0 14px;
    font-size: 1.8rem;
}

/* ------------------------- */

#stack .header{
    text-align: center;
    margin: 0 0 20px 0;
}
#stack .header span{
    font-style:italic;
}

#stack .items span{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
    padding: 0 8px 0 8px;
    /* text-decoration: underline; */

}
/* ------------------------- */

#contact {
    background-color: #020a13;
    color: #fff;
    padding: 2.7rem 1.7rem;
    margin-top: 1.7rem;
}

    #contact .info {
        font-size: 1.6rem;
    }

        #contact .info .item {
            margin: 0 0 1.1rem;
        }

    #contact a {
        color: #f4f938;
    }

    #contact .column {
        margin: 0 0 1.7rem;
    }

    #contact .asking {
        /*padding-top: 1.02rem;*/
        font-size: 1.2rem;
    }
