html,body{
    height: 100%;
}

#brand a:hover{
    text-decoration: underline;
}
#brand a{
    text-decoration: none;
}

#brand .company {
    font-size: 2.9rem;
    font-weight: 700;
}

#brand .tags{
    font-size: 1.6rem;
    color: #737a8f;
}

#smallHeader .company{
    font-size: 1.8rem;
    font-weight: 700;
}  

#smallHeader .brand a{
    text-decoration: none;
}

#smallHeader .brand a:hover{
    text-decoration: underline;
}

#smallHeader .logo{
    max-width: 100px;
}  


#intro img{
    max-width: 220px;
}

/* .post h1{
    font-size: 3.0rem;
} */




.postList .postItem h3{
    font-size: 1.4rem;
}


/* --------------------------------------------------------- */
.post h1{
    font-size: 3.3rem;
    color: #111;
    text-decoration: underline;
    text-decoration-color: #598fdb;
}

@media (max-width: 900px) {
    .post h1{
        font-size: 2.8rem;
    }
}

@media (max-width: 600px) {
    .post h1{
        font-size: 2.5rem;
    }
}


.post h2, .post h3, .post h4{
    margin: 25px 0 16px;
    color: #111;
}

.post{
    color: #333;
}

div.highlight {
    margin: 20px 0 20px 0;
}

@media (max-width: 600px) {
    body.blabo code[class*="language-"], body.blabo pre[class*="language-"]{
        font-size: 0.87rem;
    }
}


.post .postInfo .date{
    color: #555;
    font-style: italic;
}

.post .postInfo .tags{
    display: inline-block;
    margin-left: 15px;
}
.post .postInfo .tags span{
    display: inline-block;
    padding: 2px 5px 2px 5px;
    margin-right: 7px;
    text-transform: lowercase;
    background-color: #777;
    color: #fff;
    border: 1px solid #222;
}
